<section class="index">
  <h1>Book Search</h1>

  <h3>Search for a book by its title</h3>
  <form action="/booksearch" method="get">
    <input type="text" name="book_title" placeholder="Search title here...">
    <button type="submit">Search</button>
  </form>
  <%= @message %>
</section>
