<section id="login">
  <h2>Login</h2>
  <p class="<%=@message%>">Email or Password incorrect</p>
  <form class="" action="/session" method="post">

    <label for="">Email</label>
    <input type="text" name="email" value="" placeholder="Enter Email...">

    <label for="">Password</label>
    <input type="password" name="password" value="" placeholder="Enter Password...">

    <button type="submit" name="button">Login</button>
  </form>
</section>
