<section id="register">
  <h2>Register</h2>
  <p class="<%=@message%>">Email address already in use</p>
  <form class="" action="/register" method="post">
    <label for="">username</label>
    <input type="text" name="username" value="">

    <label for="">email</label>
    <input type="text" name="email" value="">

    <label for="">password</label>
    <input type="password" name="password" value="">

    <button type="submit" name="button">Register</button>
  </form>
</section>
