<img src="http://via.placeholder.com/200x200" alt="user image" height="200" width="200">
<h2><%= @username %></h2>
<h3>About Me:</h3>
<p><%= @about_user %></p>
<a href="/edit_userinfo">Edit About Me</a>

<a href="/bookshelf">Go to shelf</a>
