<section id="profile-page">
  <img src="http://via.placeholder.com/200x300" alt="user image" height="300" width="200">
  <div class="userinfo">
    <h2><%= @username %></h2>
    <h3>About Me:</h3>
    <p><%= @about_user %></p>
    <div class="edit-shelf-btns">
      <a href="/edit_userinfo" class="edit-about">Edit About Me</a>
      <a href="/bookshelf" class="shelf-button">Go to shelf</a>
    </div>
  </div>
</section>
